<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Serverd by resboucal version <%= version %> -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%=title%></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" \>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" \>
    <meta http-equiv="Content-Language" content="en-US" \>
    <meta name="author" content="lesh" \>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/bundle.js">
    </script>
  </head>
    
  <body>
    <center>
      import ICS: <input type="file" id="files" accept="text/calendar" name="files[]" multiple />
      <div id="calendar"></div>
    </center>
  </body>
</html>


5
